@model TaskManager.Email.Template.Engine.Views.Email.Test.TestModel

<div class="email">
@Model.Name
    <div class="" style="font-size: 24px;line-height: 40px;padding-top:30px;padding-bottom:40px; color: #1B1B1B;">
        Вітаємо,  ми додали вас в списки розсилок!:)
    </div>
</div>
